<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">

  <!-- Web.xml‚É‚ÍƒAƒvƒŠƒP[ƒVƒ‡ƒ“‚ÌÝ’è‚ð‘‚«‚Ü‚· -->
  
  <!-- ƒT[ƒuƒŒƒbƒg‚ð’è‹`‚·‚é -->
  <servlet>
      <servlet-name>hello-servlet</servlet-name><!-- ƒT[ƒuƒŒƒbƒg–¼‚ð’è‹`‚·‚é -->
      <servlet-class>HelloServlet</servlet-class><!-- ‘Î‰ž‚·‚éJavaƒNƒ‰ƒX–¼‚ð’è‹`‚·‚é -->
  </servlet>
  <servlet>
      <servlet-name>redirect-servlet</servlet-name><!-- ƒT[ƒuƒŒƒbƒg‚ª•¡”‚ ‚éê‡‚Í‚±‚Ì‚æ‚¤‚ÉV‚½‚Éservletƒ^ƒO‚ð’Ç‰Á‚·‚é•K—v‚ª‚ ‚é -->
      <servlet-class>RedirectServlet</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>survey-servlet</servlet-name>
      <servlet-class>SurveyServlet</servlet-class>
  </servlet>
  
  <!-- ƒT[ƒuƒŒƒbƒg‚ÆƒŠƒNƒGƒXƒgURL‚Ìƒ}ƒbƒsƒ“ƒO‚ð’è‹`‚·‚é ƒŠƒNƒGƒXƒgURL:ƒNƒ‰ƒCƒAƒ“ƒg‚ªƒT[ƒo[‚É‘Î‚µ‚ÄƒŠƒNƒGƒXƒg‚ð‘—‚éÛ‚ÉŽg—p‚·‚éURL -->
  <servlet-mapping>
      <servlet-name>hello-servlet</servlet-name><!-- ƒT[ƒuƒŒƒbƒg–¼‚ð’è‹`‚·‚é servletƒ^ƒO‚Ì’†‚Ìservlet-name‚É‘Î‰ž‚³‚¹‚é‚±‚ÆB‚±‚±‚Å‚Íhttp://ƒzƒXƒg–¼/hello/hello ‚ð‘Å‚¿ž‚ñ‚¾ÛAHelloServlet.class‚ª‹N“®‚·‚é -->
      <url-pattern>/hello</url-pattern><!-- URLƒpƒ^[ƒ“‚ð’è‹`‚·‚é URLƒpƒ^[ƒ“:ƒT[ƒuƒŒƒbƒg‚Éƒ}ƒbƒ`ƒ“ƒO‚³‚¹‚éƒŠƒNƒGƒXƒgURL‚ð’è‹`‚·‚é‚à‚ÌB‚±‚±‚Å‚Íhttp://ƒzƒXƒg–¼/hello/hello ‚ð‘Å‚¿ž‚ß‚ÎAhello-servlet‚É‘Î‰ž‚µ‚½ƒT[ƒuƒŒƒbƒgƒNƒ‰ƒX‚ª‹N“®‚·‚é‚±‚Æ‚ð•\‚·-->
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>redirect-servlet</servlet-name>
      <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>survey-servlet</servlet-name>
      <url-pattern>/survey</url-pattern>
  </servlet-mapping>
  
  <!-- ƒGƒ‰[ƒy[ƒW‚Ö‚Ì‘JˆÚ‚ð’è‹`‚·‚é ƒGƒ‰[‚ª”­¶‚µ‚½ê‡A‘Î‰ž‚µ‚½ƒy[ƒW‚É‘JˆÚ‚³‚¹‚é‚±‚Æ‚ª‚Å‚«‚é-->
  <error-page>
      <error-code>404</error-code>
      <location>/error/error_404.html</location>
  </error-page>
  
  <!-- welcomeƒy[ƒW‚ÉÝ’è‚µ‚Ä‚¢‚é‚Ì‚ÅAURL‚ð‘Å‚¿ž‚ñ‚¾Žž‚ÉAƒtƒ@ƒCƒ‹–¼‚ªÈ‚©‚êA––”ö‚ª/‚¾‚ÆA‚±‚Ìƒy[ƒW‚ªˆê”Ôæ‚É•\Ž¦‚³‚ê‚Ü‚·B-->
  <welcome-file-list>
      <welcome-file>/welcome/welcome.html</welcome-file>
  </welcome-file-list>
</web-app>
